<header>
  <h3>Edit Accounts Form</h3>
</header>
<body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <app-alert [message]="error" *ngIf="error" (close)="onHandleError()" style="color: red"></app-alert>
          <form (ngSubmit)="onSubmit()" #f="ngForm">
            <br>
            <div class="col-md-5" id="user-data">
              <label for="receiptDate">Receipt Date:</label>
              <input
                type="date"
                id="receiptDate"
                class="form-control"
                ngModel
                name="receiptDate"
                required
                #receiptDate="ngModel"
                (click)="clearSubmitMessage()">
              <span class="help-block" *ngIf="!receiptDate.valid && receiptDate.touched">Please enter the receipt date!</span><br>
            </div>
            <div class="col-md-7">
              <label for="receiptId">Receipt Id:</label>
              <input
                type="text"
                onfocus="this.value=''"
                id="receiptId"
                class="form-control"
                ngModel
                name="receiptId"
                required
                #receiptId="ngModel"
                (click)="clearSubmitMessage()">
              <span class="help-block" *ngIf="!receiptId.valid && receiptId.touched">Please enter the receipt id you are updating!</span><br>
            </div>
            <div class="col-md-5">
              <label for="receivedFrom">Received From:</label>
              <input
                type="text"
                onfocus="this.value=''"
                id="receivedFrom"
                class="form-control"
                ngModel
                name="receivedFrom"
                required
                #receivedFrom="ngModel"
                (click)="clearSubmitMessage()">
              <span class="help-block" *ngIf="!receivedFrom.valid && receivedFrom.touched">Please enter the customer name the payment was received from!</span><br>
            </div>
            <div class="col-md-7">
              <label for="amount">Amount:</label>
              <input
                type="number"
                onfocus="this.value=''"
                id="amount"
                class="form-control"
                ngModel
                name="amount"
                required
                #amount="ngModel"
                (click)="clearSubmitMessage()">
              <span class="help-block" *ngIf="!amount.valid && amount.touched">Please enter the amount paid by the customer!</span><br>
            </div>
            <div class="col-md-5">
              <label for="paymentOf">For Payment Of:</label>
              <input
                type="text"
                onfocus="this.value=''"
                id="paymentOf"
                class="form-control"
                ngModel
                name="paymentOf"
                required
                #paymentOf="ngModel"
                (click)="clearSubmitMessage()">
              <span class="help-block" *ngIf="!paymentOf.valid && paymentOf.touched">Please enter what this payment is for!</span><br>
            </div>
            <div class="col-md-7">
              <label for="signature">Signature:</label>
              <input
                type="text"
                onfocus="this.value=''"
                id="signature"
                class="form-control"
                ngModel
                name="signature"
                required
                #signature="ngModel"
                (click)="clearSubmitMessage()">
                <span class="help-block" *ngIf="!signature.valid && signature.touched">Please enter your signature for this receipt!</span><br>
            </div>
            <section class="payments">
              <input type="radio" id="cash" name="payment_type" value="Cash" ngModel #payment_type="ngModel">
              <label for="cash" id="cashLabel">Cash</label>
              <input type="radio" id="cashApp" name="payment_type" value="CashApp" ngModel #payment_type="ngModel">
              <label for="cashApp" id="cashAppLabel">Cash App</label>
              <input type="radio" id="paypal" name="payment_type" value="Paypal" ngModel #payment_type="ngModel">
              <label for="paypal" id="paypalLabel">Paypal</label>
              <input type="radio" id="zelle" name="payment_type" value="Zelle" ngModel #payment_type="ngModel">
              <label for="zelle" id="zelleLabel">Zelle</label>
            </section>
            <div class="form-group">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid">Update Account
              </button>
            </div><br>
            <div class="form-group">
              <label for="receipt" id="receiptLabel">Receipt Id:</label>
              <input
                type="text"
                onfocus="this.value=''"
                id="receipt"
                class="form-control"
                ngModel
                name="receipt"
                #receipt="ngModel"
                (click)="clearDeleteMessage()">
            </div><br>
            <div class="form-group">
              <button
                class="btn btn-primary"
                type="button"
                (click)="onDeleteReceipt('receipt')">Delete Receipt
              </button>
            </div><br>
            <div class="form-group">
              <button
                class="btn btn-primary"
                type="button"
                (click)="onBack()">Back
              </button>
            </div><br>
            <div *ngIf="submitted">
              <h3>Account Updated!</h3><br>
            </div>
            <div *ngIf="deleted">
              <h3>Following Receipt Deleted:</h3><br>
              <div *ngFor="let receipt of deletedReceipt">
                <p><strong>RECEIPT ID: {{ receipt._id }}</strong></p>
                <p><strong>RECEIPT DATE: {{ receipt.receiptDate }}</strong></p>
                <p><strong>RECEIVED FROM: {{ receipt.receivedFrom }}</strong></p>
                <p><strong>AMOUNT: {{ receipt.amount }}</strong></p>
                <p><strong>PAYMENT FOR: {{ receipt.paymentOf }}</strong></p>
                <p><strong>PAYMENT TYPE: {{ receipt.paymentType }}</strong></p>
              </div>
            </div>
          <div>
            <p class="acctHeader">Accounts are shown below. Use the receipt id below to update account above:</p>
          </div>
          <div *ngFor="let receipt of getReceipts">
              <div class="receiptHeader">RECEIPT</div>
                <p class="solid"><strong>Receipt Id: </strong><u>{{ receipt._id }}</u><br>
                <strong>Date: </strong><u>{{ receipt.receiptDate }}</u><br>
                <strong>Received From: </strong><u>{{ receipt.receivedFrom }}</u><br>
                <strong>Amount: </strong><u>{{ receipt.amount }}</u><br>
                <strong>For Payment Of: </strong><u>{{ receipt.paymentOf }}</u><br>
                <strong>Payment Type: </strong><u>{{ receipt.paymentType }}</u><br>
                <strong>Signature: </strong><u>{{ receipt.signature }}</u><br>
                <strong>Email: </strong><u>{{ receipt.email }}</u>
                </p>
          </div><br>
          </form>
        </div>
      </div>
    </div>
</body>
