#cashLabel, #cashAppLabel, #paypalLabel, #zelleLabel{
  padding:5px;
}

.payments {
   padding-top: 5px;
   padding-bottom: 5px;
}

h2 {
  text-align: center;
  padding-bottom: 5px;
  color: blue;
}

h3{
  text-align: center;
  color: blue;
}

.form-group {
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.payments {
  text-align: center;
  padding-top: 10px;
}

span {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 3px solid red;
}

label {
  color: blue;
}

.acctHeader{
  color: blue;
  text-align: center;
}

p.solid {
  border: solid 2px black;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.receiptHeader {
  border: solid 2px blue;
  width: 500px;
  height: 20px;
  color: white;
  background-color:blue;
}

#receipt {
  width: 200px;
  margin: auto;
}
