<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="menu">
            <ul class="nav navbar-nav">
                <li role="presentation" routerLinkActive="active" *ngIf="!isAuthenticated"><a id="links" routerLink="/register">Register</a></li>
                <li role="presentation" routerLinkActive="active" *ngIf="!isAuthenticated"><a id="links" routerLink="/login">Log In</a></li>
                <li role="presentation" routerLinkActive="active" *ngIf="!isAuthenticated"><a id="links" routerLink="/accountantDisplay">Accountant View</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" routerLinkActive="active" *ngIf="isAuthenticated"><a id="links" style="cursor: pointer" (click)="onLogOut()">Log Out</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</nav>
